body {
  background: #f5d9d5;
  font-family: Nunito;
  /*padding-top: 3%;*/
}

#mainNavbar .navbar-brand {
  color: #EA1C2C;
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link:hover {
  color: #EA1C2C;
}

#mainNavbar .nav-link {
  color: white;
}

#headingGroup span {
  color: #EA1C2C;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 3.5rem;
}

@media (max-width: 1050px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 2.6rem;
  }
}

.blurb h2 {
  color: #EA1C2C;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
}

.scrolled {
  background: rgba(222, 192, 222);
  transition: background 500ms;
}
